input[type=checkbox]{
    display:none
}
/* On stylise le label pour faire le fond */

label {
    display: block;
    cursor: pointer;
    width: 100px;
    height: 50px;
    background-color: rgb(202, 223, 226);
    border-radius: 25px;
    margin: 250px auto 0;
    transition: background-color .4s ease-in-out;
}

label::after {
    content: '';
    display: block;
    background-color:aliceblue;
    position: relative;
    width: 40px;
    height: 40px;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
}

input:checked + label {
    background: rgb(150, 239, 184);
}

input:checked + label::after {
    transform: translate(50px,0);
    background-color: rgb(29, 105, 52);
}